<%- include('../partials/header') %>

<div class="container mt-4">
  <h2>Edit Expense</h2>

  <form action="/expenses/<%= budget.id %>" method="PUT" autocomplete="off" class="mt-3">
    <input type="hidden" name="_method" value="PUT">
    <div class="mb-3">
      <label for="expensetName" class="form-label">Expense Name</label>
      <input type="text" name="name" class="form-control" id="budgetName" value="<%= budget.name %>" required>
    </div>
    <div class="mb-3">
      <label for="expenseAmount" class="form-label">Amount</label>
      <div class="input-group">
        <span class="input-group-text">$</span>
        <input type="number" name="amount" class="form-control" id="expenseAmount" value="<%= budget.amount %>" required>
      </div>
    </div>
    <div class="mb-3">
      <label for="expenseCategory" class="form-label">Category</label>
      <select name="category" class="form-control" id="expenseCategory" required>
        <option value="housing" <%= budget.category === 'housing' ? 'selected' : '' %>>Housing</option>
        <option value="groceries" <%= budget.category === 'groceries' ? 'selected' : '' %>>Groceries</option>
        <!-- This is where I can add more options -->
      </select>
    </div>
    <div class="mb-3">
      <label for="expenseDate" class="form-label">Date</label>
      <input type="date" name="date" class="form-control" id="budgetDate" value="<%= budget.date.toISOString().split('T')[0] %>" required>
    </div>
    <button type="submit" class="btn btn-primary">Update Expense</button>
  </form>

  <form action="/budgets/<%= budget.id %>?_method=DELETE" method="POST" class="mt-3">
    <button type="submit" class="btn btn-danger">Delete Expense</button>
  </form>
</div>

<%- include('../partials/footer') %>