<%- include('../partials/header.ejs') %>

<div class="container mt-4">
  <% let totalIncomeAmount = budget.incomes.reduce((acc, income) => acc + income.amount, 0) %>

  <h3><%= budget.name %> Budget</h3>
  <h3>Total Income $<%= totalIncomeAmount %> </h3>
  <a href="/budgets/<%= budget.id %>/expenses/new" class="btn btn-primary">Add Expense</a>

  <% if (budget.expenses.length !== 0) { %>
    <%- include('./partials/expense_list.ejs') %>    
  <% } %>

</div>

<%- include('../partials/footer.ejs') %>